# EditorConfig helps maintain consistent coding styles across various editors
# https://editorconfig.org/

# top-most EditorConfig file
root = true

# Default settings for all files
[*.{sol,ts}]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
