**/.DS_Store

### Node ###
# Logs
logs
*.log
*.log.lck
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

### Java & idea
.idea
.project
.settings/
.classpath
*.iml
target
*/*.pid
*.pid
*.jar
