#MNEMONIC=your mnemonic phrase here
PRIVATE_KEY=your private key here
REPORT_GAS=true

# Set API keys for Ethereum, BSC scan, and BASE scan
ETHERSCAN_API_KEY=your_etherscan_api_key
BSCSCAN_API_KEY=your_bscscan_api_key
BASESCAN_API_KEY=your_basescan_api_key
